html{
    scroll-behavior: smooth;
}
body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero image: */
#img{
    background-image: url(../images/banner-image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 350px;
}
/* subtitle in hero image: */
#img span{
    background-color: rgb(0 0 0 / 50%);
    color: #a8c9d8;
    margin-bottom: 1em;
    padding: 1em;
}
 #img span h2{
     margin: 0;
 }
/* Menu Navigation styling: */
nav{
    background-color: #333;
    color: #a8c9d8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}
#title{
    font-size: x-large;
    font-weight: bold;
    padding: 0 1em;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    border-bottom: 3px solid;
    margin: 0 1em;
}

nav ul li a{
    color: #a8c9d8;
    text-decoration: none;
}

/* Main Page CSS */

/* main content css */
.content{
    background-color: #f0f8ff;
    display:flex;
    flex-direction: column;
    row-gap: 2em;
}
/* section css */
section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* nav and content inside section */
.navigation, .main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
    flex-basis: 20%;
}
.main-content{
    flex-basis: 80%;
}
/* adding space inside inner class */
.main-content .inner{
    margin: 1em;
    border-left: 10px solid;
    padding: 1em;
    width: 100%;
}

/* styling portfolio Container */
#my-work .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense;
}
.portfolio-container a{
    text-decoration: none;
    color: wheat;
    filter: grayscale(50%); /* hover effect */
}
.portfolio-container a:hover{
    filter: grayscale(0%);  /* hover effect */
}

/* Portfolio items style */
.portfolio-item p{
    margin: 0;
    font-size: small;
}
.portfolio-item{
    background-color: #333;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 100px;
    background-image: url(https://via.placeholder.com/150);
}


.portfolio-title{
    background-color:rgba(0, 0, 0, 0.5);
    margin: 1em 0.5em;
    padding: 0.5em;
}

.item-1{
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    background-image: url(../images/horiseon.png);
    background-size: cover;
}

.item-2{

    width: 100%;
    background-image: url(../images/runbuddy.png);
    background-size: cover;
}

.item-3{

    width: 100%;
    background-image: url(../images/savetv.png);
    background-size: cover;
}

.item-4{

    width: 100%;
    background-image: url(../images/milestone.png);
    background-size: cover;
}

/* Contact Me section: */
.contact-details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-details span{
    display:flex;
}
.material-icons{
    margin-right: 0.5em;
}

/* Footer: */
footer{
    display: flex;
    background-color: #333;
    justify-content: center;
    color: #a8c9d8;
}


/* Less than 1000px screen size: */
@media all and (max-width: 1000px) { 
    
    /* Menu items: */
    /* Set menu and Title in middle */
    nav{
        row-gap: 1em;
    }
    nav li { 
        flex: 1 1 50%;
        margin: 0;
    }

    /* Portfolio container: */
    #my-work .portfolio-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-auto-flow: dense;
    }
    .item-1{
        grid-column: auto;
        grid-row: span 2;
    }
}
/* fix broken menu: */
@media all and (max-width: 686px){
    nav{
        justify-content: center;
    }
    
}
/* Less than 480px screen size:  */
@media all and (max-width: 480px) { 
    nav li { 
        flex-basis: 100%;
    } 
}